.test_content{
  display: flex;
  width: 650px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0 auto;
}

.quiz_img{
  width: 500px;
  height: 300px;
}

.question_timer{
  min-height: 180px;
}

.question_text{
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.question_answers{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.question_buttons{
  display: flex;
  align-self: flex-end;
  width: 350px;
  justify-content: space-between;
}